# Backend dependencies
fastapi==0.110.0
uvicorn==0.29.0
pydantic==2.6.4
requests==2.31.0
python-dotenv==1.0.1  # For loading environment variables

# Frontend dependencies


# Optional (if using a virtual environment)
watchfiles==0.21.0  # Improves FastAPI reloading
